:host {
    width: 100%;
}

:host span {
    color: lightgray;
    display: block;
    width: 100%;
    height: 70px;
    margin: 1px 1px;
}

:host a {
    text-decoration: none;
}

:host img {
    width: 100px;
    height: 70px;
    margin: 1px 1px;
}
